<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="Images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="CSS/bootstrap.min.css">        
        <link rel="stylesheet" href="CSS/extras.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="Images/UTM-LOGO.png" width="50px" height="50px"> Timetable & Space Management System</a>
            </div>
        </nav>
        <div id="loginpage">
        </div>  
    </body>
</html>