<!DOCTYPE html>
<html>
    <head>
        <title>Course List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="Images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="CSS/bootstrap.min.css">        
        <link rel="stylesheet" href="CSS/extras.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="Images/UTM-LOGO.png" width="50px" height="50px"> Timetable & Space Management System</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Table List.html">Student List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Table List.html">Lecturer List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Table List.html">Program List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Table List.html">Course List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="TimeTable.html">Time Table</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="mainpage">
            
            <h2>Course List</h2><br>


            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Filter Rows">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Faculty Code</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Number of Sections</th>
                        <th scope="col">Number of lecturers</th>
                        <th scope="col">Number of Students</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>    
                </tbody>
            </table>
        </div>  
    </body>
</html>