#loginpage{
    display: block;
    width: 75%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 15px;
    padding: 10px;
}

#logindetails{
    display: block;
    width: 50%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 15px;
    padding: 10px;
}

#mainpage{
    display: block;
    width: 75%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 15px;
    padding: 10px;
}