<div id="mainpage" ng-controller="listProgram">
    
    <h2>Program List</h2><br>

    <div ng-show="table">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Filter Rows" ng-model="search" ng-change="applyFilter()">
        </form>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Program ID</th>
                    <th scope="col">Program Code</th>
                    <th scope="col">Program Name</th>
                    <th scope="col">More</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in page_data">
                    <td>{{ item.id_kurikulum }}</td>
                    <td>{{ item.kod_kurikulum }}</td>
                    <td>{{ item.nama_kurikulum }}</td>
                    <td><button ng-click="getDetails(item.id_kurikulum)" class="btn btn-primary">Subject List</button></td>
                </tr> 
            </tbody>
        </table>

        <br>
        <div class="row fixed-bottom" style="background-color:white; margin: 0 auto; width: 25%;">
            <div class="col">
                <button class="btn btn-primary" ng-click="prevPage()"> Prev Page </button>
                &nbsp; {{page_no}} / {{page_total}} &nbsp;
                <button class="btn btn-primary" ng-click="nextPage()"> Next Page </button>
            </div>
        </div>
    </div>

    <div ng-show="details">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Year Taken</th>
                    <th scope="col">Semester Taken</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in program_data">
                    <td>{{ item.kod_subjek }}</td>
                    <td>{{ item.nama_subjek }}</td>
                    <td>{{ item.kredit }}</td>
                    <td>{{ item.tahun_ambil }}</td>
                    <td>{{ item.semester_ambil }}</td>  
                </tr>                
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="return()">Go Back</button>
    </div>

    <div ng-show="login">
        <h4>You are not logged in. Please login and refresh the page.</h4>
        <a href="#!Login"><button class="btn btn-primary">Login</button></a>
    </div>
</div>  

