
<div id="mainpage" ng-controller="listStudent">
    
    <h2>Student List</h2><br>


    <div ng-show="table">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Filter Rows"  ng-model="search" ng-change="applyFilter()">
        </form>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Matric Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Year/Course</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Number of Subjects</th>
                    <th scope="col">More</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in page_data">
                    <td>{{ item.no_matrik }}</td>
                    <td>{{ item.nama }}</td>
                    <td>{{ item.tahun_kursus }} {{ item.kod_kursus }}</td>
                    <td>{{ item.kod_fakulti }}</td>
                    <td>{{ item.bil_subjek }}</td>
                    <td><a href="#!StuSub"><button ng-click="getDetails(item.no_matrik)" class="btn btn-primary">Subject List</button></a></td>
                </tr>  
            </tbody>
        </table>
        <br>
        <div class="row fixed-bottom" style="background-color:white; margin: 0 auto; width: 25%;">
            <div class="col">
                <button class="btn btn-primary" ng-click="prevPage()"> Prev Page </button>
                &nbsp; {{page_no}} / {{page_total}} &nbsp;
                <button class="btn btn-primary" ng-click="nextPage()"> Next Page </button>
            </div>
        </div>
    </div>

    <div ng-show="details">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Year</th>
                    <th scope="col">Semester</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in student_data">
                    <td>{{ item.kod_subjek }}</td>
                    <td>{{ item.nama_subjek }}</td>
                    <td>{{ item.seksyen }}</td>
                    <td>{{ item.tahun_kursus }}</td>
                    <td>{{ item.semester }}</td>  
                </tr>                
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="return()">Go Back</button>
    </div>

    <div ng-show="login">
        <h4>You are not logged in. Please login and refresh the page.</h4>
        <a href="#!Login"><button class="btn btn-primary">Login</button></a>
    </div>
    
</div>  
